__pycache__/
*.py[cod]
*$py.class
*.so
*.cpython
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
Data_generation/__pycache__/keyword_reader.cpython-38.pyc
